services:
  frontend:
    container_name: frontend
    build:
      context: ./frontend
    env_file:
      - .env

  backend:
    container_name: frontend
    build:
      context: ./frontend
    env_file:
      - .env
