services:
  # frontend:
  #   container_name: frontend
  #   build:
  #     context: ./frontend/web-mobile
  #   ports:
  #     - "80:80"

  backend:
    container_name: backend
    build:
      context: ./backend
    ports:
      - "8000:8000"
    env_file:
      - .env

  db:
    container_name: db
    image: postgres:15-alpine
    environment:
      POSTGRES_USER: ${DATABASE_USERNAME}
      POSTGRES_PASSWORD: ${DATABASE_PASSWORD}
      POSTGRES_DB: ${DATABASE_NAME}
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgres/data

volumes:
  postgres_data:
