services:
  frontend:
    container_name: frontend
    build:
      context: ./frontend
    env_file:
      - .env

  backend:
    container_name: backend
    build:
      context: ./backend
    env_file:
      - .env

  db:
    container_name: db
    image: postgres:15-alpine
    environment:
      POSTGRES_USER: ${DATABASE_USERNAME}
      POSTGRES_PASSWORD: ${DATABASE_PASSWORD}
      POSTGRES_DB: ${DATABASE_NAME}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgres/data
