services:
  frontend:
    container_name: frontend
    build:
      context: ./frontend
    env_file:
      - .env

  backend:
    container_name: backend
    build:
      context: ./backend
    env_file:
      - .env
