
.topbar {
  display: flex;
  align-items: center;
  background: #16a34a;
  color: white;
  padding: 12px 16px;
}

.topbar-menu {
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
  margin-right: 16px;
}

.topbar-title {
  font-size: 20px;
}


.progress-wrapper {
  margin-bottom: 12px;
}

.progress-label {
  margin-bottom: 4px;
  font-size: 14px;
}

.progress-bar {
  height: 10px;
  width: 100%;
  background: #e5e5e5;
  border-radius: 5px;
  overflow: hidden;
}

.progress-fill {
  height: 100%;
  transition: width 0.3s ease;
}



.map-view {
  width: 100%;
  height: 100%;
  background: #bbbbbb;
  display: flex;
  align-items: center;
  justify-content: center;
}